<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title>ComprasNet</title>
    <script src="/js/toggle-row-class.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>ComprasNet</h1>
<p><img src="#" th:src="@{/logo.png}" alt="Logo"/></p>
<table>
    <thead>
    <tr>
        <th>Lida</th>
        <th>Empresa</th>
        <th>Concorr&ecirc;ncia</th>
        <th>Objeto</th>
        <th>In&iacute;cio do Edital</th>
        <th>Endere&ccedil;o</th>
        <th>Telefone</th>
        <th>Fax</th>
        <th>Entrega da Proposta</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data : ${dataList}">
        <td th:text="${data.lidas}">
            <label>
                <input type="checkbox" class="lidos" onchange="toggleRowClass(this)" th:value="true">
            </label></td>
        <td th:text="${data.empresa}"></td>
        <td th:text="${data.concorrencia}"></td>
        <td th:text="${data.objeto}"></td>
        <td th:text="${data.editalAPartirDe}"></td>
        <td th:text="${data.endereco}"></td>
        <td th:text="${data.telefone}"></td>
        <td th:text="${data.fax}"></td>
        <td th:text="${data.entregaProposta}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>