<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>EtapaEncontrar</title>
  <link rel="stylesheet" href="../static/style.css">

</head>

<body>
<h1>Etapa Encontrar - Effecti</h1>
<p><img src="#" th:src="@{/logo.png}" alt="Logo"/></p>
<p>Selecione uma das opções abaixo para iniciar a busca de oportunidades:</p>
<h2>Oportunidades do Dia</h2>
<p>Oportunidades abertas hoje:</p>
<ul>
  <li class="link-"><a href="licitacoes.html">Acessar oportunidades do Dia</a></li>
</ul>

<h2>Minhas Oportunidades</h2>
<p>Oportunidades salvas:</p>
<ul>
  <li class="link-"><a href="licitacoes.html">Acessar oportunidades salvas</a></li>
</ul>

<h2>Oportunidades Passadas</h2>
<p>Oportunidades que já foram realizadas:</p>
<ul>
  <li class="link-"><a href="licitacoes.html">Acessar oportunidades passadas</a></li>
</ul>
</body>
</html>
